body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 600px;
  margin: auto;
}

#results {
  display: none;
}

#trajectory {
  border-spacing: 0;
}

#trajectory td {
  width: 4px;
  height: 4px;
  padding: 0;
}

td.on {
  background-color: #000;
}

td.off {
  background-color: #ccc;
}
